[Unit]
Description=Grater
After=network.target

[Service]
Type=exec
Restart=always
RestartSec=30
ExecStart=/usr/bin/grater
Environment="CONNECTION_URI=mongodb+srv://username:password@server/"
Environment="CORS=https://www.abc.com"
Environment="DISTRIBUTOR_API=https://domainname/api/v1/dist"
Environment="ENV=liv"
Environment="ITEM_PER_PAGE=10"
Environment="NAME=SCRAPER1"
Environment="PROXY_API=http-grater-https://api.proxyscrape.com/v2/?request=getproxies&protocol=http&timeout=10000&country=all&ssl=all&anonymity=all"
Environment="SCRAPERS=3"
Environment="THREADS=5"
Environment="DATABASE_NAME=grater-bunengbumai"


[Install]
WantedBy=multi-user.target